# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules

# misc
.DS_Store
.env
.env_prod

npm-debug.log*

.env-backup
.env
package-lock.json
package.json
web/yarn.lock
web/package-lock.json
web/package.json